head
 // Required meta tags
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 meta(name="og:site_name", content=title)
 meta(name="og:locale", content="es_ES")
 meta(name="og:author", content=title)
 meta(name="author", content=title)
 meta(name="theme-color", content="#226ef2")
 
 // Meta twitter
 meta(name="twitter:card", content="summary")
 meta(name="twitter:site", content="@prointelecto")
 meta(name="twitter:creator", content=title)

 // metas de fav
 link(rel="shortcut icon", href=linksUrl[1]+logoResponsive[1], type="image/x-icon")
 link(rel="apple-touch-icon", href=linksUrl[1]+logoResponsive[1], type="image/png", sizes="180x180")
 link(rel="icon", href=linksUrl[1]+logoResponsive[1], type="image/png", sizes="196x196")

 // Bootstrap CSS
 link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
 