img(src=linksUrl[1]+"assets/img/icons/location.svg", alt="Icono del mundo")
img(src=linksUrl[1]+"assets/img/icons/email.svg", alt="Icono de email")
img(src=linksUrl[1]+"assets/img/index/collage5.png", alt="Firmar un contrato")
img(src=linksUrl[1]+"assets/img/icons/service-01.svg", alt="Icono de marca registrada")
img(src=linksUrl[1]+"assets/img/index/collage1.png", alt="Personas en una reunión de trabajo")
img(src=linksUrl[1]+"assets/img/index/collage6.png", alt="Abogados viendo documentos")