img(src=linksUrl[1]+"assets/img/index/collage3.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage4.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage5.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage2.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage1.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage6.png", alt="")