img(src=linksUrl[1]+"assets/img/icons/location.svg", alt="")
img(src=linksUrl[1]+"assets/img/icons/email.svg", alt="")
img(src=linksUrl[1]+"assets/img/index/collage5.png", alt="")
img(src=linksUrl[1]+"assets/img/icons/service-01.svg", alt="")
img(src=linksUrl[1]+"assets/img/index/collage1.png", alt="")
img(src=linksUrl[1]+"assets/img/index/collage6.png", alt="")