section.o-customer.-padMdTop
 .m-customer__content.-ContainerUniversal.-pRelative
  h2.-colorDarken.-medium.-mSmBottom Nuestra experiencia
  .m-customer__container
   //- Box
   .m-box.m-customer__box
    div(class="m-box__item -heightAuto -wColorNIcon -bgAlert")
     p.-small.-semiBold.-uppercase ¿Cuánta es nuestra experiencia?
     h4.-nochange.-mXsBottom Tenemos más de:
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]350
      h4.-nochange.-colorLightin.-noLetter Marcas registradas
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]20
      h4.-nochange.-colorLightin.-noLetter Años de experiencia
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]2
      h4.-nochange.-colorLightin.-noLetter Países de registro
   //- Clientes
   .m-customer__imgs
    img(src=linksUrl[1]+"assets/img/index/vita-frutabar.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/ricopal.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/oasis.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/chispa.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/ceproalarm.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/non-stop.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/misses.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/carlabeauty.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/colony.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/grupo-ea.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/elitecat.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/adh-rollpak.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/drgraphic.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/imprenta-sfa.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/imprenta-as.png", alt="")
    img(src=linksUrl[1]+"assets/img/index/grupo-alco.png", alt="")