section.o-customer.-padMdTop
 .m-customer__content.-ContainerUniversal.-pRelative
  h2.-colorDarken.-medium.-mSmBottom Nuestra experiencia
  .m-customer__container
   //- Box
   .m-box.m-customer__box
    div(class="m-box__item -heightAuto -wColorNIcon -bgAlert")
     p.-small.-semiBold.-uppercase ¿Cuánta experiencia tenemos?
     h4.-nochange.-mXsBottom Tenemos más de:
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]350
      h4.-nochange.-colorLightin.-noLetter Marcas registradas
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]20
      h4.-nochange.-colorLightin.-noLetter Años de experiencia
     .m-customer__column
      h2.-h1.-colorLightin.-mXsRight.-textRight #[b.-colorPrimary.-medium +]2
      h4.-nochange.-colorLightin.-noLetter Países de registro
   //- Clientes
   .m-customer__imgs
    img(src=linksUrl[1]+"assets/img/index/vita-frutabar.png", alt="Logo de vita frutabar blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/ricopal.png", alt="Logo de Ricopal blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/oasis.png", alt="Logo de  blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/chispa.png", alt="Logo de Chispa blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/ceproalarm.png", alt="Logo de Ceproalarm blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/non-stop.png", alt="Logo de Non stop blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/misses.png", alt="Logo de Misses blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/carlabeauty.png", alt="Logo de CarlaBeauty blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/colony.png", alt="Logo de Colony blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/grupo-ea.png", alt="Logo de Grupo EA blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/elitecat.png", alt="Logo de Elite cat blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/adh-rollpak.png", alt="Logo de adh rollpak blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/drgraphic.png", alt="Logo de Drgraphic blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/imprenta-sfa.png", alt="Logo de Imprenta sfa blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/imprenta-as.png", alt="Logo de Imprenta as blanco y negro")
    img(src=linksUrl[1]+"assets/img/index/grupo-alco.png", alt="Logo de Grupo Alco blanco y negro")