section.o-faq.-padMdTopBottom
 .m-faq__content.-ContainerUniversal
  //h2.a-problemTitle Preguntas frecuentes
  div.-fadeInUp(class="o-faq__wrapper", data-artucle-title="overview")
   div(class="tab-pane fade show active", id="pills-home" role="tabpanel", aria-labelledby="pills-home-tab")
    ol(class="wow faq-list", style="visibility: visible;")
     li
      +nameFaq("faq1",askSections[0])
      .collapse.m-faq__text#faq1
       ul.-faqList.a-noPadding
        li: a.-faqLink.-footerLink(href=linksUrl[1]+askUrl_1[0]) #{ask_1[0]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+askUrl_1[1]) #{ask_1[1]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_1[2]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_1[3]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_1[4]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_1[5]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_1[6]}

     li
      +nameFaq("faq2",askSections[1])
      .collapse.m-faq__text#faq2
       ul.-faqList.a-noPadding
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[0]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[1]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[2]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[3]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[4]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[5]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_2[6]}
     li
      +nameFaq("faq3",askSections[2])
      .collapse.m-faq__text#faq3
       ul.-faqList.a-noPadding
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_3[0]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_3[1]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_3[2]}
     li
      +nameFaq("faq4",askSections[3])
      .collapse.m-faq__text#faq4
       ul.-faqList.a-noPadding
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_4[0]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_4[1]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_4[2]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_4[3]}
        li: a.-faqLink.-footerLink(href=linksUrl[1]+linksInternos[0]) #{ask_4[4]}