section.o-othersService.-padRgBottom.-padSmTop
 .m-othersService__content.-ContainerUniversal
  h2.-mRgBottom Servicios relacionados con el Registro de Marca
  .-row
   .-col-3.-colMd-6.-colSm-12.-mMdRgBottom
    a(href=linksUrl[1]+serviceUrl[1]).m-otherService__item.-textCenter
     img(src=linksUrl[1]+"assets/img/icons/service-02.svg", alt="Icono de engranaje")
     p #{serviceName[1]}
   .-col-3.-colMd-6.-colSm-12.-mMdRgBottom
    a(href=linksUrl[1]+serviceUrl[2]).m-otherService__item.-textCenter
     img(src=linksUrl[1]+"assets/img/icons/service-03.svg", alt="Icono de renovación de marca registrada")
     p #{serviceName[2]}
   .-col-3.-colMd-6.-colSm-12.-mMdRgBottom
    a(href=linksUrl[1]+serviceUrl[3]).m-otherService__item.-textCenter
     img(src=linksUrl[1]+"assets/img/icons/service-05.svg", alt="Icono de inscripción")
     p #{serviceName[3]}
   .-col-3.-colMd-6.-colSm-12
    a(href=linksUrl[1]+serviceUrl[4]).m-otherService__item.-textCenter
     img(src=linksUrl[1]+"assets/img/icons/service-08.svg", alt="Icono de búsqueda en google")
     p #{serviceName[4]}