section.o-blog.-pi.-padBgTop#pi
 .m-box__content.-ContainerUniversal
  .m-box__title.-mXsBottom
   h2.-colorDarken.-medium #{blogCat[0]}

  .m-box__group
   .-row
    .-col-7.-colMd-12.-pSmall
      a.m-box(href=linksUrl[1]+blogSUrl_1[0])
       .m-box__item.-boxSquareHeight
        .-back-half
        .m-smallImg
         img.-box__img(src=linksUrl[1]+blogImgS_1[0], alt=""+alt)
        p.-mXsTop.-category #{blogCat[0]}
        h3.-mXsTop #{blogS_1[0]}
        p.-openMouth.-maxTitle La marca es esencial para el mercadeo, que tiene como meta hacer y mantener una clientela. El registro de marca otorga derecho a su uso exclusivo y su tramitación temprana evita que personas ajenas, por desconocimiento o mala fe, tramiten el registro de una marca idéntica o similar antes que su verdadero creador.

    .-col-5.-colMd-12
     .-row
      .-col-12.-colMd-6.-colSm-6.-pSmall.-mXsBottom
       +boxItemPi(linksUrl[1]+blogSUrl_1[1],linksUrl[1]+blogImgS_1[1],"alt",blogCat[0],blogS_1[0])
      .-col-12.-colMd-6.-colSm-6.-pSmall.-mXsBottom
       +boxItemPi(linksUrl[1]+blogSUrl_1[2],linksUrl[1]+blogImgS_1[2],"alt",blogCat[0],blogS_1[2])

  //-.m-box__group
   .-row
    .-col-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemPi(linksUrl[1]+blogSUrl_1[0],linksUrl[1]+"assets/img/blog/img_011.jpg","alt",blogCat[0],blogS_1[0])
    .-col-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemPi(linksUrl[1]+blogSUrl_1[1],linksUrl[1]+"assets/img/blog/img_005.jpg","alt",blogCat[0],blogS_1[1])
    .-col-3.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemPi(linksUrl[1]+blogSUrl_1[2],linksUrl[1]+"assets/img/blog/img_010.jpg","alt",blogCat[0],blogS_1[2],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemPi("#","https://blog.tubikstudio.com/wp-content/uploads/2020/06/logo-design-gotikket-service-1024x768.png","alt",blogCat[1],blogS_2[1],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall
     +boxItemPi("#","https://blog.tubikstudio.com/wp-content/uploads/2020/07/credentially-design-website-case-study-tubik-1024x768.png","alt",blogCat[0],blogS_1[4],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall
     +boxItemPi("#","https://blog.tubikstudio.com/wp-content/uploads/2020/06/logo-design-gotikket-service-1024x768.png","alt",blogCat[1],blogS_2[0],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
