section.o-navBlog.-padBgTop.-hideMd
 .m-navBlog__content.-ContainerUniversal
  ul.-mXsBottom.a-noMargin
   li.a-noPadding: a.-footerLink.-semiBold.-uppercase.-mSmRight(href=linksUrl[1]+linksInternos[6]+"#allTopics") All topics
   li.a-noPadding: a.-footerLink.-semiBold.-uppercase.-mSmRight(href=linksUrl[1]+linksInternos[6]+"#pi") #{blogCat[0]}
   li.a-noPadding: a.-footerLink.-semiBold.-uppercase.-mSmRight(href=linksUrl[1]+linksInternos[6]+"#fr") #{blogCat[1]}