//- Contenido del index
mixin box(a="#", img=linksUrl[1]+"assets/img/icons/", n="", title="Box con texto", texto="Texto de la card")
 a(class="m-box m-box__anima", href=""+a)
  .m-box__container
   h3.m-box__title.a-explainTitle=title
   img(class="m-box__img", src=""+img, alt=""+n)
   p.a-box__text=texto

mixin boxItem(n,url,cat,t,p,img,alt)
 a.m-box(class="-box"+n,href=""+url)
  .m-box__item.-boxHeight
   .-back-half
   p.-category #{cat}
   h3.-maxTitle.-h4Sm #{t}
   p.-openMouth.-maxTitle #{p}
   img.-box__img(src=""+img, alt=""+alt)

mixin boxItemIcon(n,url,color,t,p,f,cL,icon,img,alt)
 a.m-box(class="-box"+n,href=""+url)
  div(class="m-box__item -boxPlusHeight -wColorNIcon "+color)
   .-back-half
   h4.-nochange.-noLetter #{t}
   p.-openMouth.-noLetter #{p}
   small(class="-moreLink -bottom -uppercase -semiBold "+cL) #{f} #[i(class="-icon -iconLeft "+icon)]
   .m-boxImg
    img(src=""+img, alt="Icono de la sección "+t+", "+alt)
 
mixin boxItemFaq(n,color,t,img)
 .m-box(class="-box"+n)
  div(class="m-box__item -smallHeight -wColorNIcon -h100 "+color)
   img.-mSmBottom.-box__imgFaq(src=""+img, alt="Icono de "+t)
   h4.-noLetter.-textCenter #{t}

mixin boxItemFr(url,cat,t,img,alt)
 a.m-box(href=""+url)
  .m-box__item
   p.-category.-padXsBottom #{cat}
   h3.-maxTitle.-h4Sm #{t}
   img.-box__img(src=""+img, alt=""+alt)

mixin boxItemPi(url,img,alt,cat,t)
 a.m-box(href=""+url)
  .m-boxSmall
   .m-smallImg
    img.-box__img(src=""+img, alt=""+alt)
   p.-category #{cat}
   h4 #{t}

mixin boxItemRelated(url,img,alt,cat,t,p)
 a.m-box(href=""+url)
  .m-boxSmall
   .m-smallImg
    img.-box__img(src=""+img, alt=""+alt)
   p.-category #{cat}
   h4 #{t}
   p=p

mixin pi(d1,d2,d3)
 section.o-blog.-pi
  .m-box__content.-ContainerUniversal
   .m-box__group
    .-row
     .-col-6.-colMd-6.-colSm-6.-pSmall.-mXsBottom(class=""+d1)
      +boxItemRelated(linksUrl[1]+blogSUrl_1[0],linksUrl[1]+blogImgS_1[0],"Registro de marca, escritorio de trabajo",blogCat[0],blogS_1[0],"La marca es esencial para el mercadeo, que tiene como meta hacer y mantener una clientela. El registro de marca otorga derecho a su uso exclusivo y su tramitación temprana evita que personas ajenas, por desconocimiento o mala fe, tramiten el registro de una marca idéntica o similar antes que su verdadero creador.")
     .-col-6.-colMd-6.-colSm-6.-pSmall.-mXsBottom(class=""+d2)
      +boxItemRelated(linksUrl[1]+blogSUrl_1[1],linksUrl[1]+blogImgS_1[1],"Propiedad intelectual, escritorio de trabajo artístico",blogCat[0],blogS_1[1],"Una marca reconocida, el know-how de un negocio, sus recetas o fórmulas secretas y software personalizados, entre otros; son objetos de Propiedad Intelectual que representan una ventaja competitiva para la empresa que los posee. Conoce lo que esto implica.")
     .-col-6.-colMd-6.-colSm-6.-pSmall.-mXsBottom(class=""+d3)
      +boxItemRelated(linksUrl[1]+blogSUrl_1[2],linksUrl[1]+blogImgS_1[2],"Propiedad intelectual, conferencias de abogados",blogCat[0],blogS_1[2],"Nada más injusto que después de usted haya producido un evento con gran pegada comercial, venga un tercero a identificar un nuevo evento con la misma marca o imagen comercial que usted forjó, aprovechándose indebidamente de los frutos de su esfuerzo. Entérese cómo la Propiedad Intelectual lo ayuda en un caso así.")
 
//- Hero Faq
mixin heroFaq(l2)
 section.o-hero.-padSmTop
  .-ContainerUniversal
   ol(vocab="https://schema.org/", typeof="BreadcrumbList").m-breadcrumbs
    li(property="itemListElement", typeof="ListItem")
     a(property="item", typeof="WebPage").-footerLink(href=linksUrl[1]): span.a-breadcrumb(property="name") Inicio
     meta(property="position", content="1")
    li(property="itemListElement", typeof="ListItem")
     a(property="item", typeof="WebPage").-footerLink(href=linksUrl[1]+linksInternos[4]): span.a-breadcrumb(property="name") #{titles[2]}
     meta(property="position", content="2")
    li(property="itemListElement", typeof="ListItem")
     span.a-breadcrumb.-semiBold(property="name") #{l2}
     meta(property="position", content="3")

mixin breadcrumb(l1)
 ol(vocab="https://schema.org/", typeof="BreadcrumbList").m-breadcrumbs.a-noMargin
  li(property="itemListElement", typeof="ListItem")
   a(property="item", typeof="WebPage").-footerLink(href=linksUrl[1]): span.a-breadcrumb(property="name") Inicio
   meta(property="position", content="1")
  li(property="itemListElement", typeof="ListItem")
   span(property="name").a-breadcrumb.-semiBold #{l1}
   meta(property="position", content="2")

mixin breadcrumb2(url1,l1,l2)
 section.o-hero.-padSmTop
  .m-heroContent
   .-ContainerUniversal
    ol(vocab="https://schema.org/", typeof="BreadcrumbList").m-breadcrumbs
     li(property="itemListElement", typeof="ListItem")
      a(property="item", typeof="WebPage").-footerLink(href=linksUrl[1]): span.a-breadcrumb(property="name") Inicio
      meta(property="position", content="1")
     li(property="itemListElement", typeof="ListItem")
      a(property="item", typeof="WebPage").-footerLink(href=""+url1): span.a-breadcrumb(property="name") #{l1}
      meta(property="position", content="2")
     li(property="itemListElement", typeof="ListItem")
      span(property="name").a-breadcrumb.-semiBold #{l2}
      meta(property="position", content="3")

mixin ask_1(d1,d2,d3,d4,d5,d6,d7)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Preguntas relacionadas
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[0]) #{ask_1[0]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[1]) #{ask_1[1]}
   li(class=""+d3): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[2]) #{ask_1[2]}
   li(class=""+d4): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[3]) #{ask_1[3]}
   li(class=""+d5): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[4]) #{ask_1[4]}
   li(class=""+d6): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[5]) #{ask_1[5]}
   li(class=""+d7): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[6]) #{ask_1[6]}

mixin ask_2(d1,d2,d3,d4,d5,d6,d7)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Preguntas relacionadas
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[0]) #{ask_2[0]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[1]) #{ask_2[1]}
   li(class=""+d3): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[2]) #{ask_2[2]}
   li(class=""+d4): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[3]) #{ask_2[3]}
   li(class=""+d5): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[4]) #{ask_2[4]}
   li(class=""+d6): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[5]) #{ask_2[5]}
   li(class=""+d7): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_2[6]) #{ask_2[6]}

mixin ask_3(d1,d2,d3)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Preguntas relacionadas
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_3[0]) #{ask_3[0]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_3[1]) #{ask_3[1]}
   li(class=""+d3): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_3[2]) #{ask_3[2]}

mixin ask_4(d1,d2,d3,d4,d5)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Preguntas relacionadas
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_4[0]) #{ask_4[0]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_4[1]) #{ask_4[1]}
   li(class=""+d3): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_4[2]) #{ask_4[2]}
   li(class=""+d4): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_4[3]) #{ask_4[3]}
   li(class=""+d5): a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_4[4]) #{ask_4[4]}

//- servicios
mixin service_1(d1,d2,d3,d4,d5)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Otros servicios
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[0]) #{serviceName[0]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[1]) #{serviceName[1]}
   li(class=""+d3): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[2]) #{serviceName[2]}
   li(class=""+d4): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[3]) #{serviceName[3]}
   li(class=""+d5): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[4]) #{serviceName[4]}

mixin service_2(d1,d2)
 section.m-relatedArticle.-mXsBottom
  h4.-mXsTop.-mXsBottom.-nochange Otros servicios
  ul.a-noPadding
   li(class=""+d1): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[5]) #{serviceName[5]}
   li(class=""+d2): a.-footerLink.-colorAlert(href=linksUrl[1]+serviceUrl[6]) #{serviceName[6]}

//- Card
mixin cardService(img,alt,t,badge,cta)
 .m-service__card
  .m-service__item
   .m-service__itemContent
    img(src=""+img, alt="Icono de "+alt)
    .m-mediaBody
     p.-semiBold #{t} #[span.-mXsLeft(class="a-badge "+badge) #{cta}]

mixin cardServiceLink(w,url,img,alt,t,badge,cta)
 a(class=""+w, href=""+url)
  .m-service__card
   .m-service__item
    .m-service__itemContent
     img(src=""+img, alt="Icono de "+alt)
     .m-mediaBody
      p.-semiBold #{t} #[span.-mXsLeft(class="a-badge "+badge) #{cta}]

//- Footer
mixin footerLink(lin=linksUrl[1],acl="",pr="Link")
 li: a(href=""+lin, class="-footerLink "+acl)=pr

mixin nameFaq(id="faq1", n="pregunta")
 a(data-toggle="collapse", class="collapsed aqui a-faq__name", href="#"+id)
  p.-title=n
  .a-iconFaq
   .a-iconFaq__icon

//- CTA
mixin cta(color,img,alt,t,p,a,colorb,b)
 .m-ctaBox(class="-only -shadow "+color)
  .m-ctaBox__img
   img(src=""+img, alt=""+alt)
  .m-ctaBox__text
   h3.-colorLightin #{t}
   p.-colorLightin #{p}
  a.a-noMargin(href=""+a).a-button
   button(class="a-btn "+colorb, type="button") #{b}

mixin ctaMini(a,color,img,alt,p)
 a.a-noMargin(href=""+a)
  .m-ctaBox(class="-primary -mini "+color)
   .m-ctaBox__img
    img(src=""+img, alt=""+alt)
   .m-ctaBox__text
    p.-colorLightin #{p}

//- Metadata
mixin metadata(t,d,a,url,type,timg,img,imgAlt,twitter)
 // normal meta tags
 title=t
 meta(name="title", content=""+t)
 meta(name="description", content=""+d)
 meta(name="author", content=""+a)
 link(rel="canonical", href=""+url)
 // openGl meta tags
 meta(property="og:title", content=""+t)
 meta(property="og:description", content=""+d)
 meta(property="og:url", content=""+url)
 meta(property="og:site_name", content="Prointelecto")
 meta(property="og:locale", content="es_ES")
 meta(property="og:author", content=""+a)
 meta(property="og:type", content=""+type)
 meta(property="og:image:type", content="image/"+timg)
 meta(property="og:image", content=""+img)
 meta(property="og:image:secure_url", content=""+img)
 meta(property="og:image:alt", content=""+imgAlt)
 // twitter meta tags
 meta(name="twitter:card", content=""+twitter)
 meta(name="twitter:site", content="@prointelecto")
 meta(name="twitter:creator", content="@prointelecto")
 meta(name="twitter:title", content=""+t)
 meta(name="twitter:description", content=""+d)
 meta(name="twitter:image", content=""+img)
 meta(name="twitter:image:alt", content=""+imgAlt)


mixin article(pt,mt)
 meta(name="article:publisher", content="https://www.facebook.com/prointelecto/")
 meta(name="article:published_time", content=""+pt)
 meta(name="article:modified_time", content=""+mt)

//- Datos estructurados
mixin jsonOrganization()
 script(type="application/ld+json")
  |{
  |  "@context": "https://schema.org",
  |  "@type": "Organization",
  |  "name": "Prointelecto",
  |  "url": "https://prointelecto.com/",
  |  "logo": "https://prointelecto.com/assets/img/logo/isotipo.png",
  |  "description": "Abogados especialistas en Propiedad Intelectual. Registro de Marcas fácil serio confiable y profesional  por mas de 20 años, más de 350 marcas registradas.",
  |  "foundingDate": "2006-01-01",
  |  "founders": [
  |  {
  |    "@type": "Person",
  |    "name": "Iskra Bohórquez"
  |  }
  | ],
  | "sameAs": [
  |    "https://www.facebook.com/prointelecto/",
  |    "https://twitter.com/prointelecto"
  | ]
  |}

mixin jsonArticle(autor,title,d,url,dP,dM,img)
 script(type="application/ld+json")
  |{
  |  "@context": "https://schema.org",
  |  "@type": "Article",
  |  "publisher": {
  |    "@type": "Organization",
  |    "name": "Prointelecto",
  |    "url": "https://prointelecto.com/",
  |    "logo":
  |      {
  |        "@type": "ImageObject",
  |        "url": "https://prointelecto.com/assets/img/logo/isotipo.png"
  |      }
  |    },
  |  "author": {
  |    "@type": "Person",
  |    "name": "#{autor}"
  |    },
  |  "headline": "#{title}",
  |  "url": "#{url}",
  |  "datePublished": "#{dP}",
  |  "dateModified": "#{dM}",
  |  "description": "#{d}",
  |  "image": {
  |    "@type": "ImageObject",
  |    "url": "#{img}",
  |    "width": 1200,
  |    "height": 630
  |    },
  |  "mainEntityOfPage": {
  |    "@type": "WebPage",
  |    "@id": "#{url}"
  |    }
  |}

mixin jsonNewsArticle(autor,title,d,url,dP,dM,img)
 script(type="application/ld+json")
  |{
  |  "@context": "https://schema.org",
  |  "@type": "NewsArticle",
  |  "publisher": {
  |    "@type": "Organization",
  |    "name": "Prointelecto",
  |    "url": "https://prointelecto.com/",
  |    "logo":
  |      {
  |        "@type": "ImageObject",
  |        "url": "https://prointelecto.com/assets/img/logo/isotipo.png"
  |      }
  |    },
  |  "author": {
  |    "@type": "Person",
  |    "name": "#{autor}"
  |    },
  |  "headline": "#{title}",
  |  "url": "#{url}",
  |  "datePublished": "#{dP}",
  |  "dateModified": "#{dM}",
  |  "description": "#{d}",
  |  "image": {
  |    "@type": "ImageObject",
  |    "url": "#{img}",
  |    "width": 1200,
  |    "height": 630
  |    },
  |  "mainEntityOfPage": {
  |    "@type": "WebPage",
  |    "@id": "#{url}"
  |    }
  |}

mixin jsonFAQ(p1,a1,p2,a2,p3,a3,p4,a4)
 script(type="application/ld+json")
  |{
  |  "@context": "https://schema.org",
  |  "@type": "FAQPage",
  |  "mainEntity": [{
  |    "@type": "Question",
  |    "name": "#{p1}",
  |    "acceptedAnswer": {
  |        "@type": "Answer",
  |        "text": "#{a1}"
  |      }
  |    }, {
  |    "@type": "Question",
  |    "name": "#{p2}",
  |    "acceptedAnswer": {
  |        "@type": "Answer",
  |        "text": "#{a2}"
  |      }
  |    }, {
  |    "@type": "Question",
  |    "name": "#{p3}",
  |    "acceptedAnswer": {
  |        "@type": "Answer",
  |        "text": "#{a3}"
  |      }
  |    }, {
  |    "@type": "Question",
  |    "name": "#{p4}",
  |    "acceptedAnswer": {
  |        "@type": "Answer",
  |        "text": "#{a4}"
  |      }
  |    }]
  |}

